.rbc-toolbar {
  background-color: #f4f4f4;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.rbc-event {
  background-color: #7c57fc !important;
  color: white !important;
  border-radius: 5px;
  padding: 5px;
}

.rbc-month-view {
  border: 1px solid #ccc;
}

.rbc-day-bg:hover {
  background-color: #f0f0f0;
}

.rbc-day-bg.rbc-off-range-bg {
  background-color: #404040;
  background-image: repeating-linear-gradient(45deg, #19191a 0, #6d7483 1px, transparent 0, transparent 50%);
  background-size: 10px 10px;
}